@use './colors' as *;

@media (min-width: 768px) {
	.nav {
		justify-content: space-evenly;
	}
	.about-us {
		&__heading {
			font-size: 4rem;
		}
		&__content {
			grid-template-columns: repeat(2, 1fr);
			gap: 2rem;
		}

		&__img img {
			padding: 1rem;
			width: 100%;
			height: 100%;
		}
		&__text-heading {
			font-size: 2.5rem;
			margin-bottom: 1rem;
		}
	}

	.banner {
		&__background {
			height: 30vh;
			width: 100%;
		}
		&__text {
			font-size: 4rem;
			&::before {
				width: 77rem;
				height: 12rem;
			}
		}
	}
	.cards {
		padding-top: 1.5em &__box {
			height: 80%;
			padding: 1em;
			margin: 3.5em 0;
			width: 100%;
			min-width: fit-content;
			gap: 0;
			scale: 1.1;
		}
		&__title {
			font-size: 4rem;
			padding-top: 1.7em;
		}
		&__text {
			font-size: 2rem;
			margin-bottom: 5em;
		}
		button {
			min-width: fit-content;
			max-width: 50%;
			padding: 1rem;
			margin-top: 1rem;
		}
		button:hover {
			background-color: $green;
			box-shadow: 10px 1px 19px 1px rgb(10, 102, 28);
		}

		p {
			line-height: 1.5em;
		}

		// cards inside content modifiers
		&--price {
			margin: 1em;
			font-weight: bolder;
			font-size: 3rem;
		}

		// placement modifiers
		&__card {
			&--one {
				grid-row: 1/2;
				grid-column: 1/4;
			}

			&--two {
				grid-row: 1/2;
				grid-column: 4/7;
			}

			&--three {
				grid-row: 1/2;
				grid-column: 7/10;
			}
		}
		&__offer-link {
			grid-row: 2/3;
			grid-column: 3/8;
			max-width: 50%;
			max-height: 65%;
			margin: 2em auto;
			padding: 0;
			a {
				font-size: 2.3rem;
			}
		}
	}
	// footer
	.footer {
		&__box-heading {
			font-size: 5rem;
			font-weight: normal;
			text-indent: 0;
		}
	}
	// offer subpage
	.offers {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(3, 1fr);
		gap: 2em;

		&__offer {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border: 1px solid $black;
		}
		img {
			width: 100%;
			height: 80%;
		}

		h3 {
			text-align: center;
			font-size: 3rem;
			margin: 2rem 1rem;
			background-color: $main-bg;
		}
		p {
			font-size: 1.8rem;
			text-align: left;
			padding: 1em;
			line-height: 1.5;
		}

		button {
			display: flex;
			margin-top: auto;
			margin-bottom: 3em;
			padding: 1em 3em;
			border: none;
			background: none;
			font-size: 2rem;
			text-align: center;
			justify-content: center;
			width: 50%;
			border-radius: 10%;
			text-transform: uppercase;
			box-shadow: 10px 1px 19px 1px rgba(40, 40, 49, 1);
			transition: background-color 0.3s, box-shadow 0.5s;
			cursor: pointer;
		}
		button:hover {
			background-color: $black;
			box-shadow: none;
			color: $main-bg;
		}
	}
	// subpage contact ========================
	.contact {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
	}

	.contact-us-info {
		display: block;
		margin-bottom: 1rem;
		text-align: center;
	}

	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		input {
			font-size: 2rem;
		}
		input[type='submit'] {
			margin: 0 auto;
		}
		label {
			font-size: 2rem;
		}
		textarea {
			max-width: 30rem;
			min-width: 30rem;
			width: 100%;
			min-height: 50rem;
			max-height: 100rem;
			height: 50rem;
			font-size: 1.9rem;
			border-radius: 2%;
			margin-bottom: 1em;
		}
	}

	.contact-us-details {
		height: 100%;
		margin: 1em;
		padding: 0.5em;
	}

	.working-hours {
		margin-top: 1em;
	}

	.map {
		display: block;
		justify-content: center;
		text-align: center;
		margin: 1em;
		iframe {
			width: 50rem;
			height: 30rem;
		}
	}
}
